<template>
  <div class="container">
    <h1>Accordion</h1>
    <!--aria expanded -->
    <div
      role="button"
      tabindex="0"
      id="more"
      @click="collapse"
      v-on:keyup.13.32.prevent="collapse"
      class="accordion-btn"
      aria-expanded="false"
    >Read More...</div>
    <div
      id="collapsable_content"
    >Lorem ipsum dolor sit amet, ut alii voluptaria est, ad illum inimicus deterruisset eam. His eu bonorum adipisci definiebas, no vis nostrud conclusionemque. Ad his virtute accusata, pro habemus singulis temporibus ut, ne bonorum dolores euripidis quo. No nam amet erant intellegebat. Rationibus instructior id pri, vis case abhorreant ea, id sea meis feugiat.</div>
  </div>
</template>

<script>
export default {
  name: "Accordion",
  methods: {
    collapse() {
      const el = document.getElementById("collapsable_content");
      const collapseButton = document.getElementById("more");
      if (el.className == "expanded") {
        collapseButton.setAttribute("aria-expanded", "false");
        el.className = "";
        collapseButton.textContent = "Read More";
      } else {
        collapseButton.setAttribute("aria-expanded", "true");
        el.className = "expanded";
        collapseButton.textContent = "Read Less";
      }
    }
  }
};
</script>

<style>
.accordion-btn {
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

#collapsable_content {
  display: none;
  margin-top: 10px;
}

.expanded {
  display: block !important;
}
</style>