<template>
  <div class="container">
    <h1>Buttons</h1>

    <!-- Screenreader reads text inside this button -->
    <button class="primary-btn">Submit</button>

    <!-- aria-label: Aria-labels override any native label like the text inside a button, title, label -->
    <button class="ghost-btn" aria-label="Delete">
      <span class="fa fa-trash-alt"></span>
    </button>

    <!-- aria hidden -->
    <button class="secondary-btn">
      <span class="material-icons" aria-hidden="true">cloud_upload</span>
      <span>Upload</span>
    </button>
  </div>
</template>

<script>
export default {
  name: "Buttons"
};
</script>

<style>
button {
  margin-right: 10px;
}

.primary-btn {
  background-color: #0f62fe;
  border: 1px solid #0f62fe;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 11px;
}

.secondary-btn {
  align-items: center;
  background-color: #393939;
  border: 1px solid #393939;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  padding: 12px 11px;
}

.material-icons {
  font-size: 16px;
  margin-right: 5px;
}

.ghost-btn {
  background-color: transparent;
  border: 1px solid #fd1640;
  color: #fd1640;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 11px;
}
</style>