<template>
  <div class="container">
    <h1>Forms</h1>

    <!-- aria-describedby: More descriptive information, associating 2 elements-->
    <label for="pwd">New Password</label>
    <input
      aria-describedby="pwd_instructions"
      id="pwd"
      type="password"
      placeholder="Type New Password"
      required
    />
    <span id="pwd_instructions" class="info-helper">Password must be at least 8 characters</span>
  </div>
</template>

<script>
export default {
  name: "Forms"
};
</script>

<style>
input[type="password"] {
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 3px;
  color: #333333;
  display: block;
  line-height: 1.25;
  margin: 0;
  padding: 10px;
  transition: 200ms all linear;
}

.info-helper {
  font-size: 12px;
}
</style>

