<template>
  <div class="container">
    <h1>Lists</h1>
    <a
      href="https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/listbox/listbox.html"
    >Example</a>
  </div>
</template>

<script>
export default {
  name: "Lists"
};
</script>

<style>
</style>