<template>
  <div class="container">
    <h1>Modal</h1>
    <button type="button" class="primary-btn" id="btn_modal" @click="showModal">Open Modal</button>

    <div class="modal-mask" v-show="isModalVisible">
      <div class="modal-wrapper">
        <!-- aria-labelledby can be used to label a modal so that it's announced to assistive technologies as soon as it's fired -->
        <div
          class="modal"
          role="dialog"
          aria-labelledby="modalTitle"
          aria-describedby="modalDescription"
          @click="closeModal"
        >
          <header class="modal-header">
            <h2 id="modalTitle">Interesting Title</h2>
            <button
              class="btn-close"
              @click="closeModal"
              aria-label="Close modal"
              ref="afterClick"
            >x</button>
          </header>
          <p id="modalDescription">Im the body text of the modal</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  methods: {
    showModal() {
      this.isModalVisible = true;
      this.$nextTick(function() {
        this.$refs.afterClick.focus();
      });
    },
    closeModal() {
      const buttonModal = document.getElementById("btn_modal");
      buttonModal.focus();
      this.isModalVisible = false;
    }
  },
  data() {
    return {
      isModalVisible: false
    };
  }
};
</script>

<style>
.modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
}

.modal-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4371ad;
  background: transparent;
}
</style>