<template>
  <div class="container">
    <h1>Tabindex</h1>
    <ul>
      <!-- tabindex="0" allows elements that are not normally tabbable to become tabbable -->
      <li tabindex="0">Last to tab</li>

      <!-- tabindex="-1" this allows not normally tabbable elements to receive focus programmatically, e.g. via JavaScript -->
      <li
        tabindex="-1"
        id="programatic_focusable"
      >Im not keyboard focusable but Im programatic focusable</li>

      <!-- These tabindex below are not recommend it because it can mess up the taborder of your page -->
      <li tabindex="1">First to Tab from this list</li>
      <li tabindex="2">Second to Tab from this list</li>
    </ul>
    <button class="primary-btn" @click="programaticFocusable">Setting up focus</button>
  </div>
</template>

<script>
export default {
  name: "Tabindex",
  methods: {
    programaticFocusable() {
      const el = document.getElementById("programatic_focusable");
      el.focus();
    }
  }
};
</script>

<style>
.container {
  padding: 30px;
}
</style>