<template>
  <div id="app">
    <Tabindex></Tabindex>
    <Buttons></Buttons>
    <Forms></Forms>
    <Accordion></Accordion>
    <Modal></Modal>
    <Lists></Lists>
  </div>
</template>

<script>
import Tabindex from "./components/Tabindex.vue";
import Buttons from "./components/Buttons.vue";
import Forms from "./components/Forms.vue";
import Accordion from "./components/Accordion.vue";
import Modal from "./components/Modal.vue";
import Lists from "./components/Lists.vue";

export default {
  name: "app",
  components: {
    Tabindex,
    Buttons,
    Forms,
    Accordion,
    Modal,
    Lists
  }
};
</script>

<style>
body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #434343;
  /* color: #f7f336; */
  font-family: "Roboto", sans-serif;
}
</style>
